*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}

.container {
	width: 800px;
	margin: auto;
}

.chat {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: #f1f0e8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pp {
	width: 60px;
    height: 60px;
	display: inline-block;
	border-radius: 50%;
	margin-left: 32px;
    margin-top: 22px;
    margin-right: 10px;
    
}

.chat-box {
	background-attachment: fixed;
	padding-left: 20px;
	overflow-y: scroll;
	flex: 1;
}

.chat-r {
	display: flex;
    top: 100px;
}
.chat-r .sp {
	flex: 1;
}

.chat-l {
	display: flex;
}
.chat-l .sp {
	flex: 1;
}

.chat-box .check {
	float: right;
}
.chat-box .check img {
	width: 20px;
}
.chat-box .check span {
	color: #888;
	font-size: 12px;
	font-weight: 700px;
}

.chat-box .mess {
	max-width: 300px;
	background: #F7FCF6;
	padding: 10px;
	border-radius: 10px;
	margin: 20px 0px;
	cursor: pointer;
}
.chat-box .mess p {
	word-break: break-all;
	font-size: 18px;
}
.chat-box .mess-l {
    background: #E2FFC7;
}
